.nav {
  margin-bottom: 100px;
}

#dropdown-item {
  color: white;
}

#dropdown-item:hover {
  background-color: rgb(50, 50, 50);
}

#dropdown-item.active {
  background-color: rgb(37, 37, 37);
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.95);
}
